
<div class="profile__contents">
<p><%= @nickname %>さんのプロフィール</p>
    <% if user_signed_in? && current_user.id == @user.id %>
      <%= link_to "/users/#{@user.id}/edit" do%>
        <div class="user__edit">プロフィール編集</div>
      <% end %>
    <% end %>
  <div class="profile__contents__content">
    <div class="profile__contents__content__left"><%= image_tag @user.image.to_s, :size =>'170x170'%> </div>
    <div class="profile__contents__content__right">
      <div class="profile__contents__content__right__box">
        <div class="profile__contents__content__right__box__left">名前</div>0
        <div class="profile__contents__content__right__box__right"><%= @user.nickname %></div>
      </div>
      <div class="profile__contents__content__right__box">
        <div class="profile__contents__content__right__box__left">性別</div>
        <div class="profile__contents__content__right__box__right"><%= @user.sex %></div>
      </div>
       <div class="profile__contents__content__right__box">
        <div class="profile__contents__content__right__box__left">年齢</div>
        <div class="profile__contents__content__right__box__right"><%= @user.ago %></div>
      </div>
       <div class="profile__contents__content__right__box">
        <div class="profile__contents__content__right__box__left">自己紹介</div>
        <div class="profile__contents__content__right__box__right"><%= @user.info %></div>
      </div>
    </div>
  </div>
</div>

<p><%= @nickname %>さんの投稿一覧</p>

<% @posts.each do |post| %>
  <div class="contents">
    <div class="content">
    <%= link_to "/posts/#{post.id}", class: 'post' do%>
      <div class="content__image"><%= image_tag post.image.to_s, :size =>'220x220' %></div>
      <div class="content__text">
        <div class="content__text__box">
          <div class="content__text__box__title">チーム名：<%= post.name %></div>
          <div class="content__text__box__right">
          <% if user_signed_in? && current_user.id == post.user_id %>
              <%= link_to "/posts/#{post.id}/edit" do%>
                <div class="content__text__box__right__edit">編集</div>
              <% end %>
              <%= link_to "/posts/#{post.id}", method: :delete do%>
                <div class="content__text__box__right__destroy">削除</div>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="content__text__box">
          <div class="content__text__box__left">種目:<%= post.discipline %></div>
          <div class="content__text__box__right">レベル:<%= post.level %></div>
        </div>
        <div class="content__text__box">
          <div class="content__text__box__left">時間:<%= post.time %></div>
          <div class="content__text__box__right">場所:<%= post.place %></div>
        </div>
        <div class="content__text__box">
          <div class="content__text__box__left">年代:<%= post.age %></div>
          <div class="content__text__box__right">参加費:<%= post.price %></div>
        </div>
        <div class="content__text__info"><%= post.info %></div>
      </div>
      <% end %>
    </div>
  </div>
<% end %>