<!DOCTYPE html>
<html>
  <head>
    <title>すぽちゃ!!</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application'  %>
  </head>

  <body>
    <header class="header">
      <div class="header__top">
        <h1 class="header__top__title"><a href="/">すぽちゃ!!</a></h1>
      </div>
      <div class="header__bottom">
        <div class="header__bottom__content" ><%= link_to "TOP", "/posts" %></div>
        <% if user_signed_in? %>
          <%= link_to "/users/#{current_user.id}", class: 'post' do%>
            <div class="header__bottom__content" ><%= current_user.nickname %>のマイページ</div>
          <% end %>
          <div class="header__bottom__content" ><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></div>
          <div class="header__bottom__content" ><%= link_to "チーム登録", new_post_path %></div>
        <% else %>
        <div class="header__bottom__content" ><%= link_to "新規登録", new_user_registration_path %></div>
        <div class="header__bottom__content" ><%= link_to "ログイン", new_user_session_path %></div>
        <% end %>
        </div>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
